<?xml version="1.0"?>
<config>
    <modules>
        <SM_MegaMenu2>
            <version>1.0.0</version>
        </SM_MegaMenu2>
    </modules>
    <global>
        <helpers>
            <sm_megamenu2>
                <class>SM_MegaMenu2_Helper</class>
            </sm_megamenu2>
        </helpers>
        <blocks>
            <sm_megamenu2>
                <class>SM_MegaMenu2_Block</class>
            </sm_megamenu2>
        </blocks>
        <models>
            <sm_megamenu2>
                <class>SM_MegaMenu2_Model</class>
                <resourceModel>sm_megamenu2_resource</resourceModel>
            </sm_megamenu2>
            <sm_megamenu2_resource>
                <class>SM_MegaMenu2_Model_Resource</class>
                <entities>
                    <item>
                        <table>sm_megamenu2_items</table>
                    </item>
                </entities>
            </sm_megamenu2_resource>
        </models>
        <resources>
            <sm_megamenu2_setup>
                <setup>
                    <module>SM_MegaMenu2</module>
                </setup>
            </sm_megamenu2_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_MegaMenu2 after="Mage_Adminhtml">SM_MegaMenu2_Adminhtml</SM_MegaMenu2>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_megamenu2>
                    <file>SM/MegaMenu2.xml</file>
                </sm_megamenu2>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sm_megamenu2>
                    <file>SM/MegaMenu2.xml</file>
                </sm_megamenu2>
            </updates>
        </layout>
    </frontend>
</config>