<?xml version="1.0"?>
<config>
    <modules>
        <SM_ProductLabel>
            <version>1.0.0</version>
        </SM_ProductLabel>
    </modules>
    <global>
        <helpers>
            <sm_productLabel>
                <class>SM_ProductLabel_Helper</class>
            </sm_productLabel>
        </helpers>
        <blocks>
            <sm_productLabel>
                <class>SM_ProductLabel_Block</class>
            </sm_productLabel>
        </blocks>
        <models>
            <sm_productLabel>
                <class>SM_ProductLabel_Model</class>
                <resourceModel>sm_productLabel_mysql4</resourceModel>
            </sm_productLabel>
            <sm_productLabel_mysql4>
                <class>SM_ProductLabel_Model_Mysql4</class>
                <entities>
                    <label>
                        <table>sm_productlabel_label</table>
                    </label>
                </entities>
            </sm_productLabel_mysql4>
        </models>
        <resources>
            <sm_productLabel_setup>
                <setup>
                    <module>SM_ProductLabel</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sm_productLabel_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_ProductLabel after="Mage_Adminhtml">SM_ProductLabel_Adminhtml</SM_ProductLabel>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_productLabel>
                    <file>SM/ProductLabel.xml</file>
                </sm_productLabel>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sm_productLabel>
                    <file>SM/ProductLabel.xml</file>
                </sm_productLabel>
            </updates>
        </layout>
    </frontend>
</config>