<?xml version="1.0"?>

<config>
    <modules>
        <SM_MegaMenu>
            <version>1.0.0</version>
        </SM_MegaMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_megamenu>
                    <file>SM/MegaMenu.xml</file>
                </sm_megamenu>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_megamenu>
                <class>SM_MegaMenu_Block</class>
            </sm_megamenu>
        </blocks>
        <helpers>
            <sm_megamenu>
                <class>SM_MegaMenu_Helper</class>
            </sm_megamenu>
        </helpers>
        <models>
            <sm_megamenu>
                <class>SM_MegaMenu_Model</class>
                <resourceModel>sm_megamenu_mysql4</resourceModel>
            </sm_megamenu>
            <sm_megamenu_mysql4>
                <class>SM_MegaMenu_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>sm_megamenu_items</table>
                    </item>
                </entities>
            </sm_megamenu_mysql4>
        </models>
        <resources>
            <sm_megamenu_setup>
                <setup>
                    <module>SM_MegaMenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_megamenu_setup>
            <sm_megamenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sm_megamenu_read>
            <sm_megamenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sm_megamenu_write>
        </resources>
    </global>
    <admin>
        <routers>
            <sm_megamenu>
                <use>admin</use>
                <args>
                    <module>SM_MegaMenu_Admin</module>
                    <frontName>sm-megamenu-admin</frontName>
                </args>
            </sm_megamenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sm_module translate="title">
                <title>SM Modules</title>
                <sort_order>9999</sort_order>
                <children>
                    <sm_megamenu translate="title" module="sm_megamenu">
                        <title>Mega Menu</title>
                        <action>sm-megamenu-admin/index/index</action>
                    </sm_megamenu>
                </children>
            </sm_module>
        </menu>
        <layout>
            <updates>
                <sm_megamenu>
                    <file>SM/MegaMenu.xml</file>
                </sm_megamenu>
            </updates>
        </layout>
    </adminhtml>
</config>
