<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>1.0.0</version>
        </SM_Featured>
    </modules>
    <global>
        <blocks>
            <sm_featured>
                <class>SM_Featured_Block</class>
            </sm_featured>
            <!--<adminhtml>-->
                <!--<rewrite>-->
                    <!--<catalog_product_grid>-->
                        <!--SM_Featured_Block_Adminhtml_Catalog_Product_Grid-->
                    <!--</catalog_product_grid>-->
                <!--</rewrite>-->
            <!--</adminhtml>-->
        </blocks>
        <helpers>
            <sm_featured>
                <class>SM_Featured_Helper</class>
            </sm_featured>
        </helpers>
        <models>
            <sm_featured>
                <class>SM_Featured_Model</class>
                <resourceModel>sm_featured_mysql4</resourceModel>
            </sm_featured>
            <sm_featured_mysql4>
                <class>SM_Featured_Model_Mysql4</class>
            </sm_featured_mysql4>
        </models>
        <resources>
            <sm_featured_setup>
                <setup>
                    <module>SM_Featured</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sm_featured_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_Featured after="Mage_Adminhtml">SM_Featured_Adminhtml</SM_Featured>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <admin_product_grid_add_massaction>
                        <class>SM_Featured_Model_Observer_AdminhtmlObserver</class>
                        <method>addCatalogProductGridMassAction</method>
                    </admin_product_grid_add_massaction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
</config>