<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>1.0.0</version>
        </SM_Featured>
    </modules>
    <global>
        <blocks>
            <sm_featured>
                <class>SM_Featured_Block</class>
            </sm_featured>
        </blocks>
        <helpers>
            <sm_featured>
                <class>SM_Featured_Helper</class>
            </sm_featured>
        </helpers>
        <models>
            <sm_featured>
                <class>SM_Featured_Model</class>
                <resourceModel>sm_featured_mysql4</resourceModel>
            </sm_featured>
            <sm_featured_mysql4>
                <class>SM_Featured_Model_Mysql4</class>
            </sm_featured_mysql4>
        </models>
        <resources>
            <sm_featured_setup>
                <setup>
                    <module>SM_Featured</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </sm_featured_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <file>SM/Featured.xml</file>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_Featured after="Mage_Adminhtml">SM_Featured_Adminhtml</SM_Featured>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <admin_product_grid_add_massaction>
                        <class>SM_Featured_Model_Observer_Adminhtml_CatalogProductObserver</class>
                        <method>addGridMassAction</method>
                    </admin_product_grid_add_massaction>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <core_block_abstract_to_html_before>
                <observers>
                    <asdasdsad>
                        <class>sm_featured/observer_adminhtml_catalogProductObserver</class>
                        <method>beforeBlockHtml</method>
                    </asdasdsad>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <asdazxc>
                        <class>sm_featured/observer_adminhtml_catalogProductObserver</class>
                        <method>beforeCollectionLoad</method>
                    </asdazxc>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>