<?xml version="1.0"?>

<config>
    <modules>
        <SM_Slider>
            <version>1.0.0</version>
        </SM_Slider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_slider>
                    <file>SM/Slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_slider>
                <class>SM_Slider_Block</class>
            </sm_slider>
        </blocks>
        <helpers>
            <sm_slider>
                <class>SM_Slider_Helper</class>
            </sm_slider>
        </helpers>
        <models>
            <sm_slider>
                <class>SM_Slider_Model</class>
                <resourceModel>sm_slider_mysql4</resourceModel>
            </sm_slider>
            <sm_slider_mysql4>
                <class>SM_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>sm_slider_sliders</table>
                    </slider>
                    <image>
                        <table>sm_slider_images</table>
                    </image>
                </entities>
            </sm_slider_mysql4>
        </models>
        <resources>
            <sm_slider_setup>
                <setup>
                    <module>SM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_slider_setup>
        </resources>
        <events>
            <sm_slider_slider_save_before>
                <observers>
                    <sm_slider_slider_observer>
                        <class>SM_Slider_Model_Observer_SliderObserver</class>
                        <method>sliderBeforeSave</method>
                    </sm_slider_slider_observer>
                </observers>
            </sm_slider_slider_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SM_Slider after="Mage_Adminhtml">SM_Slider_Adminhtml</SM_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <sm_slider>
                    <file>SM/Slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </adminhtml>
</config>
