<?xml version="1.0"?>

<config>
    <modules>
        <SM_Slider>
            <version>1.0.0</version>
        </SM_Slider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <sm_slider>
                    <file>SM/Slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <sm_slider>
                <class>SM_Slider_Block</class>
            </sm_slider>
        </blocks>
        <helpers>
            <sm_slider>
                <class>SM_Slider_Helper</class>
            </sm_slider>
        </helpers>
        <models>
            <sm_slider>
                <class>SM_Slider_Model</class>
                <resourceModel>sm_slider_mysql4</resourceModel>
            </sm_slider>
            <sm_slider_mysql4>
                <class>SM_Slider_Model_Mysql4</class>
                <entities>
                    <slider>
                        <table>sm_slider_sliders</table>
                    </slider>
                    <image>
                        <table>sm_slider_images</table>
                    </image>
                </entities>
            </sm_slider_mysql4>
        </models>
        <resources>
            <sm_slider_setup>
                <setup>
                    <module>SM_Slider</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sm_slider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <sm_slider>
                <use>admin</use>
                <args>
                    <module>SM_Slider_Adminhtml</module>
                    <frontName>sm-slider-admin</frontName>
                </args>
            </sm_slider>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sm_module>
                <children>
                    <sm_slider translate="title" module="sm_slider">
                        <title>Slider</title>
                        <action>sm-slider-admin/index/index</action>
                    </sm_slider>
                </children>
            </sm_module>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <sm_slider translate="title" module="sm_slider">
                                            <title>SM Slider</title>
                                            <sort_order>9999</sort_order>
                                        </sm_slider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <sm_slider>
                    <file>SM/Slider.xml</file>
                </sm_slider>
            </updates>
        </layout>
    </adminhtml>
</config>
