<?xml version="1.0"?>
<config>
    <modules>
        <SM_BestSeller>
            <version>1.0.0</version>
        </SM_BestSeller>
    </modules>
    <global>
        <models>
            <sm_bestseller>
                <class>SM_BestSeller_Model</class>
            </sm_bestseller>
        </models>
        <blocks>
            <sm_bestseller>
                <class>SM_BestSeller_Block</class>
            </sm_bestseller>
        </blocks>
        <helpers>
            <sm_bestseller>
                <class>SM_BestSeller_Helper</class>
            </sm_bestseller>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <sm_bestseller>
                    <file>SM/BestSeller.xml</file>
                </sm_bestseller>
            </updates>
        </layout>
    </frontend>
    <default>
        <sm_bestseller>
            <status>
                <enabled_homepage>1</enabled_homepage>
                <enabled_category>1</enabled_category>
            </status>
            <display>
                <period_of_time>30</period_of_time>
                <maximum_quantity_homepage>12</maximum_quantity_homepage>
                <maximum_quantity_category>7</maximum_quantity_category>
                <autoplay>0</autoplay>
                <speed>200</speed>
            </display>
        </sm_bestseller>
    </default>
</config>