<?xml version="1.0"?>
<config>
    <sections>
        <sm_bestseller translate="label" module="sm_bestseller">
            <label>Best Seller Configuration</label>
            <tab>sm_modules</tab>
            <frontend_type>text</frontend_type>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <status translate="label" module="sm_bestseller">
                    <label>Status</label>
                    <sort_order>1</sort_order>
                    <expanded>1</expanded>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled_homepage translate="label" module="sm_bestseller">
                            <label>Enabled on Home Page</label>
                            <sort_order>1</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled_homepage>
                        <enabled_category translate="label" module="sm_bestseller">
                            <label>Enabled on Category Page</label>
                            <sort_order>2</sort_order>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled_category>
                    </fields>
                </status>
                <display translate="label" module="sm_bestseller">
                    <label>Display Configuration</label>
                    <sort_order>2</sort_order>
                    <expanded>1</expanded>
                    <frontend_type>text</frontend_type>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <period_of_time translate="label comment">
                            <label>Period of time</label>
                            <sort_order>0</sort_order>
                            <comment>In days unit</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </period_of_time>
                        <maximum_quantity_homepage translate="label comment" module="sm_bestseller">
                            <label>Maximum Products Displayed on Home Page</label>
                            <sort_order>1</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maximum_quantity_homepage>
                        <maximum_quantity_category translate="label comment" module="sm_bestseller">
                            <label>Maximum Products Displayed on Category Page</label>
                            <sort_order>2</sort_order>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </maximum_quantity_category>
                        <autoplay translate="label comment" module="sm_bestseller">
                            <label>Autoplay</label>
                            <sort_order>3</sort_order>
                            <comment>This is the autoplay interval (ms)</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-not-negative-number</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autoplay>
                        <speed translate="label comment" module="sm_bestseller">
                            <label>Speed</label>
                            <sort_order>4</sort_order>
                            <comment>Movement speed (ms)</comment>
                            <frontend_type>text</frontend_type>
                            <validate>validate-greater-than-zero</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed>
                    </fields>
                </display>
            </groups>
        </sm_bestseller>
    </sections>
</config>